* {
  font-family: sans-serif;
  font-size: 18px;
}

.page-head {
  background: #009999;
  color: #ccffff;
  font-family: sans-serif;
  font-size: 24px;
  padding: 15px;
}

.page-body {
  color: black;
}

body {
  background: #ccffff;
}

.full-background-button {
  padding: 0.5em;
  background: #009999;
  color: #ccffff;
  border: 3px solid #009999;
}

.full-background-button:disabled {
  cursor: not-allowed;
  background: lightgray;
  border: 3px solid lightgray;
}

.sorting-button {
  display: flex;
  width: fit-content;
  padding: 0.5em;
  border: none;
  background-color: #ccffff;
  line-height: 2px;
}

.items-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 10px;
}
