.item-rating {
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
}

.on-rated {
  font-size: 22px;
  color: #009999;
  border: none;
  background-color: #ccffff;
}

.off-rated {
  font-size: 22px;
  color: lightgray;
  border: none;
  background-color: #ccffff;
}
